.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
border-radius: 5px;
/* Increase the max-width to make the modal wider */
max-width: 600px; /* Adjust this value to your desired width */
width: 100%;
padding: 1rem;
}